version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: chaussures-ci-cd-mongo-1
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: chaussures-backend
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/shoe_store
      - JWT_SECRET=123456789
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    volumes:
      - backend_uploads:/app/uploads

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_ORIGIN=http://localhost:5000
    container_name: chaussures-frontend
    ports:
      - "8081:80"
    depends_on:
      - backend

volumes:
  mongo_data:
  backend_uploads:
