services:
  mongo:
    image: mongo:7
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/shoe_store
      - JWT_SECRET=123456789
    depends_on:
      - mongo
    volumes:
      - backend_uploads:/app/uploads

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_ORIGIN=http://backend:5000
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  mongo_data:
  backend_uploads:
